#About {
    background-image: url(img/illustration\ 1-\ about\ me-mobile.svg),url(img/bg-about.png);
    background-size: 15%, 15%;
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    height: 35vh;
}


.container{
    background-image: url(img/header-illsutration-mobile@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding: 0pt 5% 0px 5%;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}




